#footer{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.footer-right, .footer-left{
    width: 100%;
}
.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-left img{
    width: 4rem;
}
.footer-left > strong{
    opacity: 0.7;
    font-weight: 500;
}
.footer-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.accordin{
    display: grid;
    row-gap: 1rem;
}
.acc-title h1{
    font-size: 28px;
    font-weight: 500;
}
.acc-links ul{
    list-style-type: none;
    display: grid;
    font-size: 20px;
    row-gap: 12px;
}

@media screen and (width < 900px) {
    #footer{
        flex-direction: column-reverse;
        row-gap: 2rem;
    }
    .footer-left{
        flex-direction: row;
    }
}
@media screen and (width < 480px) {
    .footer-right{
        grid-template-columns: 1fr;
    }
}