#footer{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.footer-right, .footer-left{
    width: 100%;
}
.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-left img{
    width: 4rem;
}
.footer-left > strong{
    opacity: 0.7;
    font-weight: 500;
}
.footer-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.acc-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    border-radius: 56px;
    padding: 16px 42px;
    cursor: pointer;
}

.acc-title h1{
    font-size: 48px;
    font-weight: 600;
}
.acc-links.active{
    display: block;
    padding: 16px 42px;
}
.acc-links ul{
    list-style-type: none;
    font-size: 20px;
    display: grid;
    row-gap: 1rem;
}

.acc-icon{
    font-size: 60px;
    transition: all 0.3s ease;
}
.acc-icon.active{
    transform: rotate(45deg);
}

.acc-links{
    transition: all 0.3s ease;
    display: none;
}

@media screen and (width < 900px) {
    #footer{
        flex-direction: column-reverse;
        row-gap: 2rem;
    }
    .footer-left{
        flex-direction: row;
    }
}
@media screen and (width < 480px) {
    .acc-title h1{
        font-size: 32px;
    }
}