.pop{
    position: fixed;
    inset: 0;
    background-color: black;
    animation: 1s forwards ;
    z-index: 5;
    display: none;
}
@keyframes fade {
    0%{
        display: grid;
        place-content: center;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.pop b{
    color: white;
    font-size: 32px;
}
